<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>{{.Title}}</title>
    </head>
    <body>
        <div class="container">
            <div class="story">
                {{range .Story}}<p>{{.}}</p>{{end}}
            </div>
            <hr>
            <div class="story-links">
                <ul>
                    {{range .Options}}<li class="item"><a href="/{{.StoryArc}}">{{.Text}}</a></li>{{end}}
                </ul>
            </div>
        </div>  
    </body>
</html>