* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 16px;
}

.container {
    width: 900px;
    height: 1000px;
    margin: auto;
}

.container p {
    padding-top: 20px;
}

/*
 Adjacent sibling selector
*/
.item + .item {
    margin: 10px;
}